body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  background-color: #000000;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #ffffff;
  border-left: 1px solid black;
  padding: 10px;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border-radius: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid rgb(0, 0, 0);
}

.hour {
  background-color: #252323;
  color: #ffffff;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #483c32;
  color: white;
}

.present {
  background-color: #9f6ba0;
  color: white;
}

.future {
  background-color: #50c878;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #252323;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}



